@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Recharge';
    src: url(./assets/font/recharge_bd.ttf);
}

.backgroundimg {
    color: #04040400;
    background-image: url(./assets/images/webp/headerimg.webp);
}

.myscrol::-webkit-scrollbar {
    display: none;
}

.amimation {
    animation: moveup alternate 40s linear forwards infinite;
}

@keyframes moveup {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-65%);
    }

    100% {
        transform: translateY(0%);
    }
}

.slick-list {
    overflow: visible !important;
    position: relative;
    z-index: 1;
}


.blockchain .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 103.6%;
    /* z-index: ; */
    background-color: #040404;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
    width: 100%;
}